<div class="card rounded shadow">
  <div class="card-body d-flex justify-content-between align-items-center">
    <span class="title ">Filtros:</span>
    <div class="filtros">
      <span class="fecha">Fecha: Miércoles, 27 de may 2022</span>
        <mat-button-toggle-group class="" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle class="rounded" value="underline">Hoy</mat-button-toggle>
          <mat-button-toggle class="rounded" value="underline">7 días</mat-button-toggle>
          <mat-button-toggle class="rounded" value="underline">14 días</mat-button-toggle>
          <mat-button-toggle class="rounded" value="underline">Rango</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </div>
</div>
