<app-filtro></app-filtro>

<app-finanzas
  [title]="'Finanzas'"
  [subtitle]="'$300,000'"
  [content]="'Cantidad de morosidad'"
  [imgName]="'calculate'"
></app-finanzas>

<app-finanzas
  [title]="'Moratorios'"
  [subtitle]="'10'"
  [content]="'Número de morosos'"
  [imgName]="'people'"
></app-finanzas>

<app-finanzas
  [title]="'Días cartera'"
  [subtitle]="'10'"
  [content]="'Días cartera'"
  [imgName]="'people'"
></app-finanzas>

<app-finanzas
  [title]="'Paquetería'"
  [subtitle]="'10'"
  [content]="'Por entregar'"
  [imgName]="'people'"
></app-finanzas>