<mat-drawer class="mbtg" mode="side" opened>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="italic">Dashboard</mat-button-toggle>
    <mat-button-toggle value="italic">Finanzas</mat-button-toggle>
    <mat-button-toggle value="italic">Usuarios</mat-button-toggle>
    <mat-button-toggle value="italic">Amenidades</mat-button-toggle>
    <mat-button-toggle value="italic">Comunicación</mat-button-toggle>
    <mat-button-toggle value="italic">Visitas</mat-button-toggle>
  </mat-button-toggle-group>
</mat-drawer>
